<div ng-controller="AnimalsController">



  <header class="header">
    <div>
      <h2 id='slogan'><img src="http://delpercio.com/kasia/photos-zoo/hz-header2.png" alt="Hania and Zosia photo" />Hania & Zosia ZOO</h2>
    </div>
  </header>

  <div class="container">

    <div id="liked-container">

      <h2>Our animal collection:</h2>

      <ul class="users">
        <span class="user" ng-repeat="animal in animals track by animal.id" ng-show="animal.liked">
          <img ng-src="{{ animal.photo }}" alt="Photo of {{ animal.name }}" />
          <h4>{{ animal.name }}</h4>
          <p>Age: {{ animal.age }}</p>
          <p>"{{ animal.description }}""</p>
          <p> <button ng-click="selectionHandler(animal.id, false)">Unlike</button> </p>
        </span>

      </ul>


    </div>


    <ul class="users">
      <span class="user" ng-repeat="animal in animals track by animal.id" ng-hide="animal.liked">
        <img ng-src="{{ animal.photo }}" alt="Photo of {{ animal.name }}" />
        <h4>{{ animal.name }}</h4>
        <p>Age: {{ animal.age }}</p>
        <p>"{{ animal.description }}""</p>
        <p> <button ng-click="selectionHandler(animal.id, true)">Like</button> </p>
      </span>

    </ul>

  </div>


</div>
